sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
langchain_google_genai
gunicorn
-e .


# git config --global user.email "you@example.com"   git config --global user.name "Your Name"